.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 0px 10px 10px rgba(236, 236, 236, 0.733);
  width: 100%;
}
.nav div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav p{
  margin: 15px
}
.nav p a{
  margin: 15px;
  /* text-decoration: none; */
  color: black;
}
.nav button{
  margin-right: 30px;
  padding: 7px 30px 9px;
}
.nav h1{
  margin-left: 30px;
}
.nav i{
  margin-left: 30px;
  font-size: 30px;
}
.fa-desktop{
  border-right: 1px solid black;
  padding-right: 30px;
  margin-left: 60px !important;
  color: rgb(54, 190, 253);
}
.section-1 .text{
  margin-left: 43%;
  margin-right: 43%;
  margin-top: 6%;
  font-size: 30px;
}
.list-ul{
  margin-left: 38%;
  margin-right: 38%;
  display: flex;
}
.list-group{
  padding: 0px 10px;
}

.section-2{
  width: 1000px;
  margin: 0 auto;
}

.div-flex{
  display: flex;
}

.div-flex .img img{
  width: 100%;
  margin-bottom: 30px;
}

footer{
  margin-bottom: 30px;
}
.icon{
  display: flex;
  justify-content: center;
}
.icon i{
  font-size: 20px;
  padding: 5px
}
